$primary: #BE7D8D;
$secondary: #E8D1D7;
$dark: #800020;
$black:  #540015;
$font-family-sans-serif: "Aclonica", sans-serif !default;
$font-family-serif: "Calibri", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";