@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.logo {
    height: 75px;
    width: auto;
}

.hero-scene{
    position: relative;
    &::before{
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-primary);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero-scene-content h1,
.hero-scene-content p {
    margin: 0;
}